<div class="row">
  <div class="col-centered col-sm-10">
    <div class="card mb-3 w-75 text-center mx-auto">

      <div class="col-centered">
        <img *ngIf="usuarioDetalle.urlFoto != null && usuarioDetalle.urlFoto != ''" [src]="usuarioDetalle.urlFoto" class="card-img-top mt-2" alt="...">
        <img *ngIf="usuarioDetalle.urlFoto == '' || usuarioDetalle.urlFoto == null" src="assets/images/idea.png" class="card-img-top mt-2" alt="...">

      </div>


      <div class="card-body">
        <h5 class="card-title">{{usuarioDetalle.nombre}}</h5>
        <p class="card-text">{{usuarioDetalle.email}}</p>
        <p class="card-text">{{usuarioDetalle.descripcion}}</p>

        <h4 class="titular text-center mt-3">Localización:</h4>

        <div class="row text-center mb-5 mt-2">


          <div class="col sm-3">
            <h6>Localidad</h6>
            <h5>{{usuarioDetalle.localidad}}</h5>
          </div>


          <div class="col sm-3">
            <h6>Municipio</h6>
            <h5>{{usuarioDetalle.municipio}}</h5>
          </div>

          <div class="col sm-3">
            <h6>Dirección</h6>
            <h5>{{usuarioDetalle.direccion}}</h5>
          </div>

        </div>


        <button type="button" class="btn btn-primary" (click)="backToMenu()">Regresar</button>

      </div>
    </div>




  </div>


</div>
